* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
    
    
}

.title_faq{
    display: flex;
    flex-direction:column;
    
    justify-content:center;
    align-items: center;

    background-color: #E5E5E5; /* Color de respaldo */
    background-image:radial-gradient(circle, #E5E5E5,#457B9D);
    /* display:grid; */
   }

/* .title_faq img{
    width: 150px;
    height: 150px;
} */

.titulo img {
    width: 30px; /* Ancho deseado para el icono */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio entre el icono y el texto */
border-radius:50%;
}

/* .title_faq h3{
    color:#003049;
    font-family:"Roboto", san serif;
    font-size: 2rem;
} */

.titulo{
    color:#780000;
    font-size:2rem;
    font-family:"Roboto", san serif;

}

.subtitulo{
    color:#003049;
    font-family:"Roboto", san serif;
    font-size: 1.5rem;
}

.boton-home {
 padding: 8px 16px;
 background-color: #669BBC;
 color: #FDF0D5;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: transform 0.3s; 
 display: inline-block;
    
}

.container-faq{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.respuesta-faq{
    background:lightgray;
}

.texto-faq{
    color: #457B9D;
}
.respuesta-faq label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background:#8D99AE;
    color: #FDF0D5;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.respuesta-faq label:hover{
    background: #003049;
}


.btn-faq:checked ~ .texto-faq{
    max-height: 600px;
    padding: 15px 0px;
}

.btn-faq{
    display: none;
}
.respuesta-faq .texto-faq{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.texto-faq span{
    font-style: bold;
}


/* .footer-content {
    margin-top: 20px;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color:#134074; 
    color:white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row;
} */

.boton-inicio{
    /* Estilos del botón */
    padding: 8px 16px;
    background-color: #669BBC;
    color: #FDF0D5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s; /* Agrega una transición para suavizar el cambio */

    /* Estilos adicionales para la animación */
    display: inline-block;
}
/* Regla para la animación al pasar el mouse */
.boton-inicio:hover { 
    transform: scale(1.1);   /* Aumenta ligeramente el tamaño del botón al pasar el mouse */
    background-color: #003049; /* Cambia el color de fondo al pasar el mouse */
} 
.footer{
    grid-area:footer;
    .footer-content {
        text-align: center;
        
    }
}