.container{
    display:grid;
    /* grid-template:filas/columnas */
    grid-template:100px 1fr 100px/400px 1fr;
    grid-template-areas:"header header"
                        "left contenido"
                        "footer footer "  ;
   grid-gap:10px;
   height:100vh;
}
.header{
    grid-area:header;
}

.left{
    grid-area:left;
    
}


.footer{
    grid-area:footer;
    
}

.footer-content {
    text-align: center;
    
}


.item{
    background-color:#8D99AE;
    padding: 10px;
    color: #003049;
    border-radius:0dvh10px;
}

.titulo {
    text-align: center;
    font-size:20px;
}

.boton-iniciar-sesion {
    /* Estilos del botón */
    padding: 8px 16px;
    background-color: #669BBC;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s; /* Agrega una transición para suavizar el cambio */

    /* Estilos adicionales para la animación */
    display: inline-block;
}

/* Regla para la animación al pasar el mouse */
.boton-iniciar-sesion:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón al pasar el mouse */
    background-color: #003049; /* Cambia el color de fondo al pasar el mouse */
}




.contenido {
    grid-area: contenido;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 0 10px; /* Agrega un poco de espacio a los lados */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.image-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan en varias filas */
    gap: 10px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra las imágenes horizontalmente */
    max-width: 100%; /* Se ajusta al ancho máximo del contenedor padre */
}

/* Estilos para las imágenes */
.image-container img {
    flex: 0 0 calc(50% - 10px); /* Ancho máximo para que quepan dos imágenes por fila, considerando el espacio entre ellas */
    max-width: 200px; /* Ancho máximo del 50% para que se ajusten al contenedor */
    height: auto; /* Mantiene la proporción del ancho/altura de la imagen */
    margin-bottom: 10px; /* Espacio inferior entre las imágenes */
}



