/* Estilos adicionales para los elementos del formulario */
body {
    font-family: 'Roboto', sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
}

body{
    background: #FDF0D5;
}
h1{
    color:#780000;
}

input[type="text"],
input[type="password"],
button[type="submit"] {
    width: 250px;
    padding: 10px;
    border: 2px solid #003049;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
}

button[type="submit"] {
    background-color:#669BBC;
    color: #FDF0D5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #457B9D;
}

/* Otros estilos */
header {
    text-align: center;
    margin-bottom: 20px;
    color:FDF0D5;
}


p {
    text-align: center;
}


/* Estilos para dispositivos pequeños (hasta 767px) */
@media screen and (max-width: 767px) {
    /* Ajustes para el encabezado */
    h1 {
        font-size: 24px;
    }

    /* Ajustes para los elementos del formulario */
    .input-group label {
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"],
    button[type="submit"] {
        width: 100%;
        padding: 8px;
        border: 2px solid #003049;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 10px;
        text-align: left;
        font-size: 14px;
    }

    button[type="submit"] {
        margin-top: 20px;
    }
}

/* Estilos para dispositivos medianos (768px a 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Ajustes para el encabezado */
    h1 {
        font-size: 28px;
    }
}

/* Estilos para dispositivos grandes (1024px en adelante) */
@media screen and (min-width: 1024px) {
    /* Ajustes para el encabezado */
    h1 {
        font-size: 36px;
    }
}
