
body {
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: #E5E5E5; /* Color de respaldo */
    background-image:radial-gradient(circle, #E5E5E5,#457B9D);
    display:grid;
    /* grid-template:filas/columnas */
    grid-template:100px 1fr 100px/400px 1fr;
    grid-template-areas:"header header"
                        "left contenido"
                        "footer footer "  ;
   grid-gap:20px;
   height:100vh;
   padding: 20px;
   
    background-size: cover;
    background-attachment: fixed; /* Cambiar el modo de fijación del fondo */
    background-position: center; /* Ajustar la posición del fondo */
    overflow: auto; /* Permitir el desplazamiento del contenedor si el contenido es grande */
}




/*Aca esta todo el css del header*/
.header{
    grid-area:header;
    .titulo {
        text-align: center;
        font-size:2rem;
        color: #780000;
    }

.icono-usuario {
    width: 30px; /* Ancho del contenedor del icono */
    height: 30px; /* Altura del contenedor del icono */
    margin-right: 10px; /* Espacio a la derecha del icono */
}

.icono-usuario img {
    width: 100%; /* Ancho del icono */
    height: auto; /* Altura automática */

margin-top: -20px;}


.nombre-usuario {
    font-size:1.6rem; /* Tamaño de fuente del nombre de usuario */
    font-weight: bold; /* Estilo de fuente en negrita */
margin-top: -5px;
color:#003049;
}

.usuario-container {
    display: flex; /* Alinear elementos horizontalmente */
    
    align-items: center; /* Centrar verticalmente */
}

.item.header nav {
    display: flex; /* Utilizamos flexbox para alinear los elementos horizontalmente */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centramos verticalmente */
/* flex-direction: column; */
}

#fecha {
    position: absolute;
    top: 10px;
    right: 20px;
}



.titulo img {
    width: 30px; /* Ancho deseado para el icono */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio entre el icono y el texto */
border-radius:50%;
}


.boton-iniciar-sesion {
    /* Estilos del botón */
    padding: 8px 16px;
    background-color: #669BBC;
    color: #FDF0D5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s; /* Agrega una transición para suavizar el cambio */

    /* Estilos adicionales para la animación */
    display: inline-block;
}

/* Regla para la animación al pasar el mouse */
.boton-iniciar-sesion:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón al pasar el mouse */
    background-color: #003049; /* Cambia el color de fondo al pasar el mouse */
}


.boton-cerrar-sesion {
    /* Estilos del botón */
    padding: 8px 16px;
    background-color: #669BBC;
    color: #FDF0D5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s; /* Agrega una transición para suavizar el cambio */

    /* Estilos adicionales para la animación */
    display: inline-block;
}
/* Regla para la animación al pasar el mouse */
.boton-cerrar-sesion:hover { 
    transform: scale(1.1);   /* Aumenta ligeramente el tamaño del botón al pasar el mouse */
    background-color: #003049; /* Cambia el color de fondo al pasar el mouse */
} 



}

/*aca esta el css de toda la seccion de contenido*/
.contenido{
    grid-area:contenido;
        overflow-x:auto; 
        /* Añade un desplazamiento horizontal si es necesario */
        overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
        white-space: nowrap; 
        /* Evita que las imágenes se envuelvan a la siguiente línea */
    
}
       /* Ajusta el espacio entre el título y las imágenes en ambas secciones */
.section_musicales, .section_teatro {
    margin-bottom: 0px;
}

/* Reducir el espacio entre el título y las imágenes en ambas secciones */
.section_musicales h4, .section_teatro h4 {
    margin-bottom: 5px;
}

/* Ajusta el tamaño y el espaciado de las imágenes */
.contenido img {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 5px;
    margin-top: 5px;
}

        

 

/*aca esta todo el css de la seccion izquierda*/

   
    .item.left {
        grid-area: left;
        margin-top: 40px; /* Agrega un margen superior de 20px */
    }
    
    .item.left .iframe {
        width: 100px; /* Ajusta el ancho del iframe según sea necesario */
        height: 100px; /* Ajusta la altura del iframe según sea necesario */
        border-radius: 10px; /* Agrega bordes redondeados */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
        overflow: hidden; /* Oculta cualquier contenido que sobresalga del iframe */
        margin-bottom: 10px; /* Agrega espacio entre los iframes */
        
        transition: border-color 0.3s ease; /* Agrega una transición suave al cambio de color del borde */
    }
    
    .item.left .iframe:last-child {
        margin-bottom: 0; /* Elimina el margen inferior del último iframe para evitar espacio adicional */
    }
    
    .item.left .iframe:hover {
        border-color: #003049; /* Cambia el color del borde al pasar el cursor sobre el iframe */
    }
    
    .item.left .iframe iframe {
        width: 100%; /* Ajusta el ancho del iframe al 100% del contenedor */
        height: 100%; /* Ajusta la altura del iframe al 100% del contenedor */
        border: 2px solid transparent; /* Establece un borde transparente para que haya un borde alrededor del iframe */
        transition: border-color 0.3s ease; /* Agrega una transición suave al cambio de color del borde */
    }
    
   


/*aca esta todo el css del  footer*/
.footer{
    grid-area:footer;
    .footer-content {
        text-align: center;
        
    }
}


/*aca esta el css de todos los items (hijos) de mi grid (heaser,left,contenido,footer)*/
.item{
    background-color:transparent;
    padding: 10px;
    color: #003049;
    border-radius:0 10px;
}



/* Estilos para dispositivos pequeños (hasta 767px) */
@media screen and (max-width: 767px) {
    /* Ajustes para el encabezado */
    .titulo {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .boton-iniciar-sesion,
    .boton-cerrar-sesion {
        padding: 0.5rem 1rem; /* Corrección del valor de padding */
        font-size: 1rem;
    }

    /* Ajustes para el grid */
    .container {
        grid-template:
            "header header"
            "left left"
            "contenido contenido"
            "footer footer";
    }

   
    .contenido img {
        width: 80px;
        height: 80px;
        margin-top: 60px; /* Corrección del valor de margin-top */
        flex-wrap: wrap;
    }
}



/* Estilos para dispositivos medianos (768px a 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Ajustes para el encabezado */
    .titulo {
        font-size: 2rem;
    }
  
    /* Ajustes para la columna izquierda */
    .left .widget {
        margin-bottom: 20px;
    }
}

/* Estilos para dispositivos grandes (1024px en adelante) */
@media screen and (min-width: 1024px) {
    /* Ajustes para el encabezado */
    .titulo {
        font-size: 3rem;
    }
  
    /* Ajustes para el contenido */
    .contenido img {
        width: 120px;
        height: 120px;
        margin-top: 80px;
    }
}












