<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleteria Digital</title>
    <!-- Icono de la página -->
    <link rel="shortcut icon" href="/Static/Imagenes/cinema_popcorn_icon-icons.com_66128.ico">
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/Static/Css/crudStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/Static/Imagenes/bin_trash_delete_remove_recycle_icon_146878.png">
    <link rel="stylesheet" href="/Static/Imagenes/editar2.png">

<!-- Agrega Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
    <!-- Contenedor principal -->
    <header class="header">
        <nav>
            <div class="titulo">
                <img src="/Static/Imagenes/Imagenes/BoleteriaDigital_logo.jpeg" alt="Icono">
                <h1>Boleteria Digital</h1>
                <!-- Contenedor para la fecha -->
                <div id="fecha"></div>
            </div>
        </nav>
    </header>

    <!-- main -->
    <main>
        <a href="#">
            <i class="fas fa-film"></i>
            <!-- <span class="logo-text">Eventos</span> -->
        </a>
        

        <!-- Sección de formulario -->
        <section id="form" class="contenedor">
            <h2 class="search-title">Gestión de usuarios</h2>
            <p class="description">En esta sección se podrá llevar a cabo la gestión de los usuarios del portal</p>
            <form action="#" id="form-event">
                <div class="d-flex">
                    <div class="form-control d-flex-column">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="input-search" name="apellido" id="apellido">
                        <div id="error-apellido" class="error-message"></div>
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="input-search" name="nombre" id="nombre">
                        <div id="error-nombre" class="error-message"></div>
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="documento">Documento</label>
                        <input type="text" class="input-search" name="documento" id="documento">
                        <div id="error-documento" class="error-message"></div>
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="input-search" name="telefono" id="telefono">
                        <div id="error-telefono" class="error-message"></div>
                    
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="release-date">Fecha_Nacimiento</label>
                        <input type="date " class="input-search" name="release_date" id="release-date">
                        <div id="error-release-date" class="error-message"></div>
                    </div>
                    <div class="form-control d-flex-column">
                        <label ="email">Email</label>
                        <input type="text" class="input-search" name="email" id="email">
                        <div id="error-email" class="error-message"></div>
                
                    </div>
                    <div class="form-control d-flex-column">
                        <label ="pais">Pais_Origen</label>
                        <input type="text" class="input-search" name="pais" id="pais">
                        <div id="error-pais" class="error-message"></div>
                
                    </div>
                    <div class="form-control d-flex-column">
                        <label ="password">Contraseña</label>
                        <input type="password" class="input-search" name="password" id="password">
                        <div id="error-password" class="error-message"></div>
                
                        <input type="hidden" name="id" id="id-event">
                    </div>
                    <div class="form-column">
                        <button class="btn-search" type="button" id="btn-search">
                            <img src="/Static/imagenes/search_find_lupa_21889.png" alt="Buscar" class="icon-search">Buscar
                        </button>
                    </div>
                </div>
                <button class="btn-event" type="button" id="btn-save-event" onclick="saveUser()">Agregar</button>
                    <!-- </div>
                    <input type="hidden" name="id" id="id-event">
                     <button class="btn-event" type="button" id="btn-save-event" onclick="saveUser()">Agregar</button> 
                    
                <button class="btn-search" type="button" id="btn-search">
                    <img src="/Static/imagenes/search_find_lupa_21889.png" alt="Buscar" class="icon-search">
                </button>
                </div> -->
            </form>
        </section>

        <!-- Sección de lista de eventos -->
        <section id="list" class="contenedor">
            <h3 class="subtitle">Listado de usuarios</h3>
            <table id="list-table-event" class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha_Nacimiento</th>
                        <th>Documento</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Pais_Origen</th>
                        <th>Contraseña</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody-table-event"></tbody>
            </table>
        </section>
    </main>

    <!-- Pie de página -->
    <footer class="footer">
        <div class="footer-content">
            <p>Seguinos en:
                <!-- Iconos de redes sociales -->
                <img src="/Static/Imagenes/facebook_logo_icon_147291.ico" alt="logo 1">
                <img src="/Static/Imagenes/instagram_logo_icon_181738.ico" alt="logo 2">
                <img src="/Static/Imagenes/whatsapp_logo_icon_147205.ico" alt="logo 3">
            </p>
            <p>Derechos Registrados</p>
            <p>Argentina @</p>
        </div>
    </footer>
<!-- Agrega Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Inicializa Flatpickr en tu campo de fecha -->
<script>
    flatpickr("#release-date", {
        dateFormat: "Y-m-d", // Formato de fecha deseado
        // Otras opciones de configuración aquí...
    });
</script>
    <!-- Script para mostrar la fecha actualizada -->
    <script src="/Static/js/fechaActual.js"></script>
<script src="/Static/js/saveUser.js"></script>
 
</body>

</html>
