<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BoleteriaDigital-FAQ</title>

  <link rel="stylesheet" href="/Static/Css/FAQStyle.css">


</head>
<body>
<!-- --------------- Encabezado --------------------- -->
<header>
    <div class="title_faq">
      <h1 class="titulo">
        <img src="/Static/Imagenes/Imagenes/BoleteriaDigital_logo.jpeg" alt="Icono"> Boleteria Digital
    </h1>
        <!-- <img src="/Static/Imagenes/BoleteriaDigital_logo.jpeg" alt=""></a> -->
        
        

        <div>
          <h3 class="subtitulo">  Preguntas  Frecuentes  </h3>
        </div>
    </div> 
    <br>
    <div class="boton-inicio">
      <a href="/Index.htl.html" >
          <input type="submit" value=" Volver Inicio " class="boton-home">
      </a>
</div> 
</header>
<!----------------- Fin Encabezado ------------------- -->



<main>
  <div class="guarda-Form">
    <p>
      Te has registrado correctamente, 
      tu formulario ha sido guardado con 
      exito.
        
      

    </p>
    </div>
    <br>
    <br>
<footer>
<div class="footer-content">
      <!-- <div> 
          <p> Derechos Registrados </p>
       </div> -->
       <!-- <div class="boton-inicio">
        <a href="/homeAcces.html" >
            <input type="submit" value=" Volver Inicio " class="boton-home">
        </a>
      </div> -->
      <div class="item footer">
        <div class="footer-content">
            <p>Seguinos en :
                <img src="/Static/imagenes/facebook_logo_icon_147291.ico" alt="logo 1">
                <img src="/Static/imagenes/instagram_logo_icon_181738.ico" alt="logo 2">
                <img src="/Static/imagenes/whatsapp_logo_icon_147205.ico" alt="logo 3">
            </p>
            <p>Derechos Registrados</p>
            <p>argentina @</p>
        </div>
    </div>
  </div>
</footer>

</body>
</html>