<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="/Static/Css/logginStyle.css">
</head>
<body>
    <header>
        <h1>Iniciar Sesión</h1>
    </header>
    <main>
        <!-- <form action="/login" method="post">
            <div class="input-group"> -->
                <form id="login-form" action="/homeWork.html" method="post">
                    <div class="input-group">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" placeholder="Ingresa tu nombre de usuario" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
            </div>
            <div class="input-group">
                <button type="submit">Ingresar</button>
            </div>
        </form>
        <p> Olvidaste tu contraseña? <a href="/Templates/register.html">Recuperala  aquí</a>.</p>
        <p>¿No tienes una cuenta? <a href="/Templates/register.html">Regístrate aquí</a>.</p>
    </main>
    <script src="/Static/js/validacionInicioSesion.js"></script>
</body>
</html>
