<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- Enlace a la hoja de estilos para el registro -->
    <link rel="stylesheet" href="/Static/Css/registerStyle.css">
    <!-- Enlace a la fuente Roboto desde Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body>
    <header>
        <!-- Encabezado con título -->
        <nav>
            <h1> Registro de usuario </h1>
        </nav>
        <!-- Botón para volver al inicio -->
        <div class="boton-inicio">
            <a href="/Index.htl.html">
                <input type="submit" value=" Volver Inicio " class="boton-home">
            </a>
        </div>
    </header>
    <main>
        <!-- Formulario de registro -->
        <section id="register-form">
            <form action="/Templates/formularioRegistro/" method="get" id="register-form" novalidate>
                <!-- Campo de apellido -->
                <div>
                    <label for="">Apellido</label>
                    <input type="text" name="lasttname" id="apellido">
                    <div id="error-apellido" class="error-message" style="color: red;"></div>
                </div>
                <!-- Campo de nombre -->
                <div>
                    <label for="">Nombre</label>
                    <input type="text" name="firstname" id="nombre">
                    <div id="error-nombre" class="error-message" style="color: red;"></div>
                </div>
                <!-- Campo de fecha de nacimiento -->
                <div>
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" name="birthdayDate" id="fecha de nacimiento">
                    <div id="error-fecha de nacimiento" class="error-message" style="color: red;"></div>
                </div>
                <!-- Campo de documento -->
                <div>
                    <label for="">Documento </label>
                    <input type="number" name="id" id="documento">
                    <div id="error-documento" class="error-message" style="color: red;"></div>
                </div>
                <!-- Campo de teléfono -->
                <div>
                    <label for="">Telefono</label>
                    <input type="number" name="phone" id="telefono">
                    <div id="error-telefono" class="error-message" style="color: red;"></div>
                </div>
                <!-- Campo de correo electrónico -->
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <div id="error-email" class="error-message" style="color: red;"></div>
                </div>
                <!-- Campo de país de origen -->
                <div>
                    <label for="country">País de origen</label>
                    <select name="country" id="pais de origen">
                        <!-- Opciones de países -->
                        <option value="">seleccione</option>
                        <option value="Ar">Argentina</option>
                        <option value="Bo">Bolivia</option>
                        <option value="Uy">Uruguay</option>
                        <option value="Pe">Peru</option>
                        <option value="Br">Brasil</option>
                    </select>
                    <div id="error-pais de origen" class="error-message" style="color: red;"></div>
                </div>
                <!-- Campo de contraseña -->
                <div>
                    <label for="">Contraseña</label>
                    <input type="password" name="contraseña" id="contraseña">
                    <div id="error-contraseña" class="error-message" style="color: red;"></div>
                </div>
                <!-- Checkbox para aceptar términos y condiciones -->
                <div>
                    <br>
                    <input type="checkbox" id="terms-checkbox" name="terms-checkbox" required>
                    <label for="terms-checkbox">Acepto los términos y condiciones</label>
                    <div id="error-message" style="color: red;"></div>
                </div>
                <!-- Botón de envío del formulario -->
                <input type="submit" value="Registrarse" class="sumbit-buttom">
            </form>
        </section>
    </main>
    <!-- Script para validar los campos del formulario -->
    <script src="/Static/Js/validacionCampos.js"></script>
</body>

</html>
