<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/Static/Css/registerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <header>
        <nav>
            <h1>Registro de usuario</h1>
        </nav>
        <div class="boton-inicio">
            <a href="/index.html" class="boton-home">Volver al Inicio</a>
        </div>
    </header>
    <main>
        <section id="register-form">
            <form id="registerForm" novalidate>
                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido">
                    <div id="error-apellido" class="error-message" style="color: red;"></div>
                </div>
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre">
                    <div id="error-nombre" class="error-message" style="color: red;"></div>
                </div>
                <div>
                    <label for="fecha-nacimiento">Fecha de nacimiento</label>
                    <input type="date" id="fecha-nacimiento" name="fechaNacimiento">
                    <div id="error-fecha-nacimiento" class="error-message" style="color: red;"></div>
                </div>
                <div>
                    <label for="documento">Documento </label>
                    <input type="number" id="documento" name="documento">
                    <div id="error-documento" class="error-message" style="color: red;"></div>
                </div>
                <div>
                    <label for="telefono">Telefono</label>
                    <input type="number" id="telefono" name="telefono">
                    <div id="error-telefono" class="error-message" style="color: red;"></div>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                    <div id="error-email" class="error-message" style="color: red;"></div>
                </div>
                <div>
                    <label for="pais-origen">País de origen</label>
                    <select id="pais-origen" name="paisOrigen">
                        <option value="">Seleccione</option>
                        <option value="Ar">Argentina</option>
                        <option value="Bo">Bolivia</option>
                        <option value="Uy">Uruguay</option>
                        <option value="Pe">Perú</option>
                        <option value="Br">Brasil</option>
                    </select>
                    <div id="error-pais-origen" class="error-message" style="color: red;"></div>
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password">
                    <div id="error-password" class="error-message" style="color: red;"></div>
                </div>
                <div>
                    <br>
                    <input type="checkbox" id="terms-checkbox" name="terms" required>
                    <label for="terms-checkbox">Acepto los términos y condiciones</label>
                    <div id="error-message" style="color: red;"></div>
                </div>
                <button class="btn-event" type="button" id="btn-save-user" onclick="saveUser()">Guardar</button>
            </form>
        </section>
    </main>
    <script src="/Static/Js/validacionCampos.js"></script>
    <script src="/Static/Js/crud-usuarios-fetch.js"></script>
    <script>
        async function saveUser() {
            const apellido = document.getElementById('apellido').value;
            const nombre = document.getElementById('nombre').value;
            const fechaNacimiento = document.getElementById('fecha-nacimiento').value;
            const documento = document.getElementById('documento').value;
            const telefono = document.getElementById('telefono').value;
            const email = document.getElementById('email').value;
            const pais = document.getElementById('pais-origen').value;
            const password = document.getElementById('password').value;

            if (!apellido || !nombre || !fechaNacimiento || !documento || !telefono || !email || !pais || !password) {
                alert('Por favor complete todos los campos.');
                return;
            }

            const userData = {
                apellido: apellido,
                nombre: nombre,
                fecha_nacimiento: fechaNacimiento,
                documento: documento,
                telefono: telefono,
                email: email,
                pais_origen: pais,
                password: password
            };

            try {
                const response = await fetch('http://127.0.0.1:5000/api/usuarios/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(userData)
                });

                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }

                const result = await response.json();
                alert('Registro exitoso');
                document.getElementById('registerForm').reset(); // Limpiar campos del formulario
                window.location.href = '/index.html'; // Redirigir a la página de inicio
            } catch (error) {
                console.error('Error al registrar usuario:', error);
                alert('Error al registrar usuario');
            }
        }
    </script>
</body>
</html>
